/ .row
/   .span10.offset1
/     .title_bar
/       .title Cover Photos
- content_for :meta do
  %meta{:name => "description", :content => "Description: Get creative. get designer. get Pickura. The only designer Facebook Timeline cover editor around, Tags: #{@tags.all.join(" ")}"}
- content_for :javascripts do
  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"
  :javascript
    stLight.options({publisher: "ur-cea037fd-e637-a2ad-7782-f86cf3376519"});

.row
  .span3
    = render 'tags'
  .span9
    .gallery_list
      - @photos.each do |photo|
        .photo
          .name= photo.name
          .download_count
            <i class="icon-download"></i>
            =photo.download_count
            Downloads
          .img
            - photo_tags = photo.tags.empty? ? '' : photo.tags.join(' ')
            - cover_description = "#{photo.name} - #{photo_tags}"
            = link_to image_tag(photo.source.preview, :class => 'cover', :alt => cover_description), gallery_show_path(photo)
          .hide.social_sharing
            %span.st_twitter_hcount{:displayText=>'Tweet', :st_url=>gallery_show_path(photo), :st_title => photo.name, :st_summary => cover_description}
            %span.st_facebook_hcount{:displayText=>'Facebook', :st_url=>gallery_show_path(photo), :st_title => photo.name, :st_summary => cover_description}
            %span.st_plusone_hcount{:displayText=>'Google +1', :st_url=>gallery_show_path(photo), :st_title => photo.name, :st_summary => cover_description}
            %span.st_pinterest_hcount{:displayText=>'Pinterest', :st_url=>gallery_show_path(photo), :st_title => photo.name, :st_summary => cover_description}

.row
  .span9.offset3
    .flickr_pagination
      = will_paginate @photos, :container => false
      .page_info
        = page_entries_info @photos