/ .row
/   .span10.offset1
/     .title_bar
/       .title Cover Photos
- content_for :meta do
  %meta{:name => "description", :content => "Description: Get creative. get designer. get Pickura. The only designer Facebook Timeline cover editor around, Tags: #{@tags.all.join(" ")}"}
- content_for :javascripts do
  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"
  :javascript
    stLight.options({publisher: "ur-cea037fd-e637-a2ad-7782-f86cf3376519"});

.row
  .span3
    .tag_list
      .tag_title Top Covers
      %ul.filters.tags
        %li.tag{:class => @most_popular? 'active' : ''}
          = link_to "Most Popular", gallery_popular_path
        %li.tag{:class => @editor_pick? 'active' : ''}
          = link_to "Editor's Pick", gallery_editor_pick_path
      .tag_title Gallery Tags
      %ul.gallery_tags.tags
        - @tags.each do |tag|
          %li.tag{:class => (@current_tag == tag.name)? 'active' : ''}
            = link_to "#{tag.name.titleize}", gallery_path(tag.name)
            %span.label= tag.count
  .span9
    .gallery_list
      - @photos.each do |photo|
        .photo
          .name= photo.name
          .img
            - photo_tags = photo.tags.empty? ? '' : photo.tags.join(' ')
            = link_to image_tag(photo.source.preview, :class => 'cover', :alt => "#{photo.name} - #{photo_tags} Facebook Timeline Cover"), seo_photo_path(photo)
          .hide.social_sharing
            %span.st_twitter_hcount{:displayText=>'Tweet', :st_url=>seo_photo_path(photo)}
            %span.st_facebook_hcount{:displayText=>'Facebook', :st_url=>seo_photo_path(photo)}
            %span.st_plusone_hcount{:displayText=>'Google +1', :st_url=>seo_photo_path(photo)}
            %span.st_pinterest_hcount{:displayText=>'Pinterest', :st_url=>seo_photo_path(photo)}
.row
  .span9.offset3
    .flickr_pagination
      = will_paginate @photos, :container => false
      .page_info
        = page_entries_info @photos