- content_for :meta do
  %meta{:name => "description", :content => "Description: Get creative. get designer. get Pickura. The only designer Facebook Timeline cover editor around, Tags: #{@tags.all.join(" ")}"}
- content_for :javascripts do
  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"
  :javascript
    stLight.options({publisher: "30b4a467-2713-47a7-91af-93a3e3a6343a", publisherGA:"UA-29696639-1"});

.row
  .span3
    = render 'tags'
  .span9
    .gallery_list
      - @covers.each do |cover|
        .photo
          .name= cover.name
          .download_count
            <i class="icon-download"></i>
            =cover.download_count
            Downloads
          .img
            - cover_tags = cover.tags.empty? ? '' : cover.tags.join(' ')
            - cover_description = "#{cover.name} - #{cover_tags}"
            = link_to image_tag(cover.source.preview, :class => 'cover', :alt => cover_description), gallery_show_path(cover)
          .hide.social_sharing
            .content
              %span.st_twitter_hcount{:displayText=>'Tweet', :st_url=>permalink(cover), :st_title => cover.name, :st_summary => cover_description}
              %span.st_facebook_hcount{:displayText=>'Facebook', :st_url=>permalink(cover), :st_title => cover.name, :st_summary => cover_description}
              %span.st_plusone_hcount{:displayText=>'Google +1', :st_url=>permalink(cover), :st_title => cover.name, :st_summary => cover_description}
              %span.st_pinterest_hcount{:displayText=>'Pinterest', :st_url=>permalink(cover), :st_title => cover.name, :st_summary => cover_description}

.row
  .span9.offset3
    %a.btn.btn-primary.btn-large{:href => random_path, :style => "margin-bottom: 40px;margin-top: 20px;width: 666px;height: 19px;"} Show me More Covers!