-# .cover_show
-#   .row.span11.title_bar
-#     .title Cover Photos

- content_for(:meta) do
  %meta{:name => "description", :content => "Name: #{@cover.name}, Tags: #{@cover.tag_list.join(" ")}"}
- content_for :javascripts do
  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"
  :javascript
    stLight.options({publisher: "ur-cea037fd-e637-a2ad-7782-f86cf3376519"});

.row
  .span9.pull-right.show_cover
    .gallery_list
      .photo
        .name
          %h1= @cover.name
        .download_count
          <i class="icon-download"></i>
          = @cover.download_count
          Downloads
        .img
          - photo_tags = @cover.tags.empty? ? '' : @cover.tags.join(' ')
          - cover_description = "#{@cover.name} - #{photo_tags}"
          - permalink = url_for(:controller => :covers, :action => :show, :id => @cover, :only_path => false)
          = image_tag(@cover.source.preview, :alt => cover_description)
        = render :partial => 'editor/actions'
    .social_sharing
      %h3="Share this cover with your friends"
      %span.st_twitter_hcount{:displayText=>'Tweet', :st_url => permalink, :st_title => @cover.name, :st_summary => cover_description}
      %span.st_facebook_hcount{:displayText=>'Facebook', :st_url => permalink, :st_title => @cover.name, :st_summary => cover_description}
      %span.st_plusone_hcount{:displayText=>'Google +1', :st_url => permalink, :st_title => @cover.name, :st_summary => cover_description}
      %span.st_pinterest_hcount{:displayText=>'Pinterest', :st_url => permalink, :st_title => @cover.name, :st_summary => cover_description}
    .facebook
      .fb-comments{"data-href"=>"#{permalink}", "data-num-posts"=>"2", "data-width"=>"668", "data-colorscheme"=>"dark"}
  .span3.pull-left
    = render 'tags'
