-# .cover_show
-#   .row.span11.title_bar
-#     .title Cover Photos

- content_for(:meta) do
  %meta{:name => "description", :content => "Name: #{@cover.name}, Tags: #{@cover.tag_list.join(" ")}"}

.row
  .span3
    .tag_list
      .tag_title Top Covers
      %ul.filters.tags
        %li.tag{:class => @most_popular? 'active' : ''}
          = link_to "Most Popular", gallery_popular_path
        %li.tag{:class => @editor_pick? 'active' : ''}
          = link_to "Editor's Pick", gallery_editor_pick_path
      .tag_title Gallery Tags
      %ul.unstyled.tags
        - @tags.each do |tag|
          %li.tag{:class => (@current_tag == tag.name)? 'active' : ''}
            = link_to "#{tag.name.titleize}", gallery_path(tag.name)
            %span.label= tag.count

  .span9
    .gallery_list
      .photo
        .nameShowPage= @cover.name
        .img
          = image_tag(@cover.source.preview, :alt => "#{@cover.name} - #{@cover.tags.join(' ')}")
        = render :partial => 'editor/actions'

  .row
    .photo.span7
      .fb_comments2
        .fb-like{"data-send"=>"true", "data-width"=>"450", "data-show-faces"=>"false", "data-colorscheme"=>"dark", "data-font"=>"lucida grande"}
      .fb-comments{"data-href"=>"#{seo_photo_path(@cover)}", "data-num-posts"=>"2", "data-width"=>"668", "data-colorscheme"=>"dark"}