-# .cover_show
-#   .row.span11.title_bar
-#     .title Cover Photos

- content_for(:meta) do
  %meta{:name => "description", :content => "Name: #{@cover.name}, Tags: #{@cover.tag_list.join(" ")}"}
- content_for :javascripts do
  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"
  :javascript
    stLight.options({publisher: "ur-cea037fd-e637-a2ad-7782-f86cf3376519"});

.row
  .span3
    .tag_list
      .tag_title Top Covers
      %ul.filters.tags
        %li.tag{:class => @most_popular? 'active' : ''}
          = link_to "Most Popular", gallery_popular_path
        %li.tag{:class => @editor_pick? 'active' : ''}
          = link_to "Editor's Pick", gallery_editor_pick_path
      .tag_title Gallery Tags
      %ul.gallery_tags.tags
        - @tags.each do |tag|
          %li.tag{:class => (@current_tag == tag.name)? 'active' : ''}
            = link_to "#{tag.name.titleize}", gallery_path(tag.name)
            %span.label= tag.count

  .span9.show_cover
    .gallery_list
      .photo
        .nameShowPage= @cover.name
        .download_count
          <i class="icon-download"></i>
          =@cover.download_count
          Downloads
        .img
          - photo_tags = @cover.tags.empty? ? '' : @cover.tags.join(' ')
          - cover_description = "#{@cover.name} - #{photo_tags}"
          = image_tag(@cover.source.preview, :alt => cover_description)
        = render :partial => 'editor/actions'
    .social_sharing
      %h3="Share this cover with your friends"
      %span.st_twitter_hcount{:displayText=>'Tweet', :st_url=>seo_photo_path(@cover), :st_title => @cover.name, :st_summary => cover_description}
      %span.st_facebook_hcount{:displayText=>'Facebook', :st_url=>seo_photo_path(@cover), :st_title => @cover.name, :st_summary => cover_description}
      %span.st_plusone_hcount{:displayText=>'Google +1', :st_url=>seo_photo_path(@cover), :st_title => @cover.name, :st_summary => cover_description}
      %span.st_pinterest_hcount{:displayText=>'Pinterest', :st_url=>seo_photo_path(@cover), :st_title => @cover.name, :st_summary => cover_description}
    .facebook
      .fb-comments{"data-href"=>"#{seo_photo_path(@cover)}", "data-num-posts"=>"2", "data-width"=>"668", "data-colorscheme"=>"dark"}