- if !user_signed_in?
  .actions
    %a#download_button.btn.btn-primary.btn-large{:href => "#{user_omniauth_authorize_path(:facebook)}", 'data-loading-text' => 'Authenticating with Facebook...'}
      %i{:class => "icon-download-alt icon-white"}
      Download
      
    %a#upload_button.btn.btn-primary.btn-large{:href => "#{user_omniauth_authorize_path(:facebook)}", 'data-loading-text' => 'Authenticating with Facebook...'}
      %i{:class => "icon-upload icon-white"}
      Upload to Facebook

- else
  .actions
    -#/ = link_to 'Customize', editor_path(@cover), :class => 'btn btn-info btn-large'
    %a#download_button.btn.btn-primary.btn-large{:href => "#{download_cover_url}", 'data-loading-text' => 'Downloading...'}
      %i{:class => "icon-download-alt icon-white"}
      Download

    %a#upload_button.btn.btn-primary.btn-large{:href => '#', 'data-loading-text' => 'Uploading...', 'data-toggle' => 'modal'}
      %i{:class => "icon-upload icon-white"}
      Upload to Facebook
  
  #upload_modal.modal.hide
    .modal-header
      %a.close{'data-dismiss' => 'modal'} x
      .step1
        %h2 Uploading Cover...
      .step2
        %h2 Your cover is ready to use!
    .modal-body
      .step1.row-fluid
        .msg.span8
          %p We are currently uploading your new Facebook Cover
          %p In the meantime, why not Like us on Facebook?
          .upload-bar
            = image_tag 'loading30.gif'
        .modal-right.span4
          %h3 Like us:
          .fb-widget
            .fb-like{"data-href"=> "#{seo_photo_path(@cover)}","data-send"=>"false", "data-width"=>"100", 'data-layout' => 'box_count', "data-show-faces"=>"false", "data-font"=>"lucida grande"}
        = link_to 'Upload', upload_cover_path(@cover), :class => 'trigger', :remote => true, :style => 'display:none'
      .step2
        %p Now set the cover on your profile in Facebook. Click the <strong>"Change my cover"</strong> button and follow the steps below to set your new cover on your profile:
        .button-out
          = link_to 'Change my cover', 'http://www.facebook.com/me', :target => '_blank', :class => 'btn btn-info btn-large'
        .instructions
          = image_tag 'cover-instructions.png'