%h1 Pictures
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.picture.title", :default => t("activerecord.labels.title", :default => "Title"))
      %th Created at
      %th Actions
  %tbody
    - @pictures.each do |picture|
      %tr
        %td= picture.id
        %td= link_to picture.title, picture_path(picture)
        %td= picture.created_at
        %td
          = link_to "Show", picture_path(picture)
          = link_to "Edit", edit_picture_path(picture)
          = link_to "Destroy", picture_path(picture), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

= link_to "New", new_picture_path, :class => 'btn btn-primary'
