= form_for @photo, :html => {:multipart => true} do |f|
  -if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
    
  .field
    = f.label :source
    = f.file_field :source
    
  .field
    = f.label :Tags
    = f.text_field :tag_list

  .field
    = f.label :Categories
    = f.text_field :category_list

  .field
    = f.label :Description
    = f.text_area(:description, :cols => 100, :rows => 6)

  .actions
    = f.submit 'Save'