.row.span10.title_bar
  .title Cover Photos

.row-fluid.span11
  .tag_list.span2
    .tag_title Tag List
    %ul.unstyled.tags
      - @tags.each do |tag|
        - if @current_tag == tag.name
          %li.tag.active
            = link_to "#{tag} (#{tag.count})", gallery_path(tag.name), :style => "display:block;"
        - else
          %li.tag
            = link_to "#{tag} (#{tag.count})", gallery_path(tag.name), :style => "display:block;"

  .gallery_list.span9
    - @photos.each do |photo|
      .row
        .photo.span9
          .name= photo.name
          .img
            = link_to image_tag(photo.source.branded), editor_path(photo)

.span10
  .flickr_pagination
    = will_paginate @photos, :container => false
    .page_info
      = page_entries_info @posts