.row.span11.title_bar
  .title Cover Photos

.row-fluid.span10.offset1
  .tag_list.span2
    .tag_title Tag List
    %ul.unstyled.tags
      - @tags.each do |tag|
        %li.tag{:class => (@current_tag == tag.name)? 'active' : ''}
          = link_to "#{tag.name.capitalize}", gallery_path(tag.name), {:style => "margin-right:-25px; font-weight: bold"}
          %span.label{:style => "float:right; margin-right:10px"}= tag.count

  .gallery_list.span9
    - @photos.each do |photo|
      .row
        .photo.span9
          .name= photo.name
          .img
            = link_to image_tag(photo.source.branded), editor_path(photo)
          .hide.fb_comments
            .fb-like{"data-href"=> "#{seo_photo_path(photo)}","data-send"=>"true", "data-width"=>"450", "data-show-faces"=>"false", "data-colorscheme"=>"dark", "data-font"=>"lucida grande"}
            .span{:style => "float:right"}= link_to "view image", seo_photo_path(photo)
          

.span10
  .flickr_pagination
    = will_paginate @photos, :container => false
    .page_info
      = page_entries_info @posts
