%h1 Listing photos

%table
  %tr
    %th Name
    %th Image
    %th Tags
    %th
    %th
    %th
    
  - @photos.each do |photo|
    %tr
      %td= photo.name
      %td= image_tag photo.source, :width => "100"
      %td= photo.tag_list      
      %td= link_to 'Show', photo
      %td= link_to 'Edit', edit_photo_path(photo)
      %td= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New photo', new_photo_path
