!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Pickura.com"
    %link{:rel =>"icon", :type => "image/png", :href => "https://s3.amazonaws.com/pickura/static/favicon.ico"}
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application"

  %body{:style => "background-color: white;"}
    = render :partial => 'shared/menu'

    .container
      .content
        = content_for?(:main) ? yield(:main) : yield
      
    = javascript_include_tag "application"
