!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Pickura.com"
    %link{:rel =>"icon", :type => "image/png", :href => "https://s3.amazonaws.com/pickura/static/favicon.ico"}
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application"
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-29696639-1']); _gaq.push(['_trackPageview']);
        (function(){var ga=document.createElement('script'); ga.type='text/javascript'; ga.async=true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();

  %body
    #fb-root
    :javascript
      (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=331426256899594"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.i-bar
            %span.i-bar
            %span.i-bar
          %a.brand{:href => "/", :style => "padding-bottom:9px"}= image_tag("logo.png")
          .container.nav-collapse
            %ul.nav
              %li= link_to "Gallery", gallery_path
              %li= link_to "Most Popular", "/path2"
              %li= link_to "Help", "/path3"
            %ul.nav.pull-right
              - if user_signed_in?
                %li= link_to "Hello #{current_user.email}", "/profile", :style => "color:#555"
                %li= link_to 'Sign out', destroy_user_session_path, :method => :delete, :style => "font-weight:bold;"
                %li{:style => "height:40px"}= image_tag(current_user.avatar.thumb.url)
              - elsif !@current_action == "index" && !@current_controller =+ "home"
                %li
                  .menu_facebook
                    = link_to (image_tag "fb_login.png"), user_omniauth_authorize_path(:facebook)

    .container
      .content
        = content_for?(:main) ? yield(:main) : yield
      
    = javascript_include_tag "application"
