!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    = yield(:meta)
    %title= page_title
    %link{:rel =>"icon", :type => "image/png", :href => "https://s3.amazonaws.com/pickura/static/favicon.ico"}
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application"
    = yield(:javascripts)
  %body{:class => ("welcome" if @current_controller == "home")}
    #fb-root
    :javascript
      (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=331426256899594"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.i-bar
            %span.i-bar
            %span.i-bar
          %a.brand{:href => "/", :style => "padding-bottom:9px"}= image_tag("logo.png")
          .container.nav-collapse
            %ul.nav
              %li= link_to "Gallery", gallery_path
              %li= link_to "Most Popular", gallery_popular_path
              %li= link_to "Editor's pick", gallery_editor_pick_path
            %ul.nav.pull-right
              - if user_signed_in?
                %li= link_to "Hello #{current_user.email}", "/profile", :style => "color:#555"
                %li= link_to 'Sign out', destroy_user_session_path, :method => :delete, :style => "font-weight:bold;"
                %li{:style => "height:40px"}= image_tag(current_user.avatar.thumb.url)
              - elsif @current_controller != "home"
                %li
                  .menu_facebook
                    = link_to (image_tag "fb_login.png"), user_omniauth_authorize_path(:facebook)

    .container
      - if @current_controller != "home"
        .alert.fade.in#countdown{:style => "margin-left:10px"}
          .close#countdown-hide
            %a{:href =>"#"} x
          %strong{:style => "line-height: 28px; font-size: 21px;"} New Features Added Weekly!
          .pull-right
            // TODO: Finish the email notification stuff
            / %a{"data-toggle"=>"modal", :href=>"#mailModal", :style => "vertical-align:top",:class =>"btn btn-success"}
            /   %i.icon-envelope.icon-white
            /   Notify me on this Update!
            %a{:href=>"https://twitter.com/pickura",:class=>"twitter-follow-button","data-show-count"=>"false","data-size"=>"large"}Follow @pickura
          %br
          Next update in
          #time{:style => "display:inline; line-height: 27px; margin-right:12px"}
        
      = content_for?(:main) ? yield(:main) : yield
      

      // TODO: Finish the email notification stuff
      /
      / .modal#mailModal.hide.fade
      /   .modal-header
      /     %a{:class=>"close", "data-dismiss"=>"modal"}×
      /     %h3 Automatic Update Notification
      /   .modal-body
      /     %form#emailForm
      /       .control-group
      /         .controls
      /           .input-prepend
      /             %span{:class=>"add-on"}
      /               %i{:class=>"icon-envelope"}
      /             %input{:class=>"span3", :id=>"inputIcon", :type=>"text", :placeholder => "E.g. user@pickura.com"}
      /     .pull-right{:style => "margin-top:-51px"}
      /       %i{:style => "font-size:10px"} *And don't worry, we also hate spam :)
      /   .modal-footer
      /     %a{:href=>"#", :class => "btn btn-primary", :style => "margin-right:180px", :id => "emailBtn"} Save changes
      /     %a{"data-toggle"=>"modal", :href=>"#mailModal", :class => "btn"} Close

    = javascript_include_tag "application"
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-29696639-1']); _gaq.push(['_trackPageview']);
        (function(){var ga=document.createElement('script'); ga.type='text/javascript'; ga.async=true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    - else
      :javascript
        var _gaq = _gaq || [];
